/* Reset Code - Universal Selector*/

@font-face{
	font-family:CenturyGothic;
	src:url{'fonts/CenturyGothic.ttf.ttf'}
	}


*{
	
	
	margin:0;
	padding:0;
	
}

.main{
	
	
}
.header{
	width:100%;
	height:201px;
	background-color:#CCCCCC;
}


.header-top h1{
	padding:30px 0px 10px 10px;
font-family:CenturyGothic;}
	


.header-top h1 a {
	text-decoration:none;
	color:#00C6F0;
}

.header-top p {
padding-left:10px;
font-family:CenturyGothic;
}




.slider {
    border:10px solid #DDDDDD;
    margin:20px 0px;

}

.slider img {
	width:100%;
    margin-bottom:-5px;
}

	
.content h1 {
	padding:10px 0px;
}
.content h2{
	padding:10px 0px;
	color:#3992b3;
}
.content p {
	padding:10px 0px;
}
.content ul{
	box-sizing:border-box;
	margin-left:20px;
}


.widget{
	padding:15px 10px 20px 10px;
	border:1px solid #E2E2E2;
	border-radius:15px;
	margin-bottom:10px;
}

}
.widget h3{
	font-weight:normal;
	padding-bottom:5px;
}
.widget h4{
	font-weight:normal;
	padding-bottom:3px;
	color:#3b88bf
}
.widget h5{
	font-weight:normal;
	padding-bottom:3px;
}
.widget p{
  padding:5px 0px;
}
.widget a{
  padding:3px 0px;
  color:#52C8EE;
  display:block;
}
.menu{
	text-align:right
	

}

.menu ul li{
	/*list-style:none;
	float:left;*/
    display:inline-block;
	line-height:48px;
}
.menu ul li a{
	text-decoration:none;
	background-color:#BBBBBB;
	padding:5px 10px;
	color:#fff;
	margin:0px 5px;
}
.menu ul li a:hover{
	color:#000;
}
#active{
	background-color:#00C6F0;
}
#active:hover{
	color:#fff;
}
.footer-area{
    width:100%;
	height:101px;
background: linear-gradient(#CCCCCC,#CCCCCC),url(7IMfjSL.gif);
	display:block;
	overflow:hidden;
}


.footer-main p {
	text-align:center;
	text-align:center;
	color:#fff;
	padding:20px 0px;
	display:block;

}

.footer-menu {
	text-align:center;
}

.footer-menu ul li{
	display:inline-block;
	 padding:10px 0px;
}
.footer-menu ul li a{

    display:block;
    color:#fff;
	text-decoration:none;
	border-left:1px solid #fff;
    padding:0px 10px;
}
#current{
	border:none;
}